ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}
ul > li {
	font-family: consolas, monospace;
	white-space: pre;
}

ul > li.section {
	background-color: #FFC;
}
ul > li.section:hover {
	background-color: #CFC;
}
ul > li.active {
	background-color: #FCC;
}

ul > li.info {
	color: #666;
}
